<aside class="aside">
    <!-- START Sidebar (left)-->
    <div class="aside-inner">
        <nav data-sidebar-anyclick-close="" class="sidebar">
            <!-- START sidebar nav-->
            <ul class="nav">
                <!-- START user info-->
                <li>
                    <div id="user-block">
                        <div class="item user-block">
                            <!-- User picture-->
                            <div class="user-block-picture">
                                <div class="user-block-status">
                                    <a
                                            href="/index.html"><img
                                            src='/app/img/00.jpg'
                                            width="60"
                                            height="60"
                                            class="img-thumbnail img-circle"/></a>
                                    <div class="circle circle-success circle-lg"
                                         style="display:none"></div>
                                </div>
                            </div>
                            <!-- Name and Job-->
                            <div class="user-block-info">
                                <a id="gUserNickName" href="javascript:;" class="user-block-name">登录名

                                </a>

                            </div>

                        </div>
                    </div>
                </li>
                <!-- END user info-->
                <!-- Iterates over all sidebar items-->




                <li class="active">


                    <a href="fund/index.html">

                                <span>我的基金
                                </span>
                    </a>

                </li>




            </ul>
            <!-- END sidebar nav-->
        </nav>
    </div>
    <!-- END Sidebar (left)-->

</aside>