<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <th:block th:replace="common/meta"/>
    <title>资股--一个分析股票的网站</title>
    <th:block th:replace="common/link"/>
</head>
<body >
    <!--top-->
    <th:block th:replace="common/header"/>
    <!--sidebar-->
    <th:block th:replace="common/left"/>
    <!--offsidebar-->

    <section>
        <!-- Page content-->



        </div>


    </section>
    <th:block th:replace="common/footer"/>
    <th:block th:replace="common/include"/>


<!--页面在这里-->
<iframe src="demo_iframe.htm" width="20" height="200"></iframe>

<h2 style="background-color:;">这是一个标题</h2>


    <th:block th:replace="js/login_js"></th:block>

</div>
</body>
</html>